/* .profile {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0p8P7gLRSqRppZlPjxfvpBHKtFI0RdDLHng&usqp=CAU');
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
} */
